<a href="https://colab.research.google.com/github/Reubenpt123/DAV/blob/main/Data_Cleaning_DAV_Assessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Connect to google drive and import necessary libraries.

In [75]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Change working directory.

In [76]:
cd "/content/drive/My Drive/Colab Notebooks/DAV Assessment/Cefas_smartbuoy"

/content/drive/My Drive/Colab Notebooks/DAV Project/Cefas_smartbuoy

See current files in directory.

In [77]:
ls

clean_data2.csv          WESTGAB_2.csv    WESTGAB.csv
oxygen_saturation_data/  WESTGAB2.csv     WESTGABPAR.csv
WESTGAB2_2.csv           WESTGAB2PAR.csv  WG2O2SAT.csv

Need to deal with encoding errors in order for file to open file. The causes are in the units column and can be ignored. Then we use the dateTime column to be of the date type and use this to index our files.

In [78]:
westgab = pd.read_csv("WESTGAB.csv", parse_dates = ["dateTime"], encoding_errors = "ignore")
westgab.set_index("dateTime", inplace = True)
westgab_2 = pd.read_csv("WESTGAB_2.csv", parse_dates = ["dateTime"], encoding_errors = "ignore")
westgab_2.set_index("dateTime", inplace = True)
westgabpar = pd.read_csv("WESTGABPAR.csv", parse_dates = ["dateTime"], encoding_errors = "ignore")
westgabpar.set_index("dateTime", inplace = True)

Now we extract the data associated with seperate parameters into seperate data frames before re-combining based on date. Then we make sure that our entries are numbers before saving to a csv.

In [79]:
westgab_temp = westgab[westgab["par"] == "TEMP"]
westgab_temp = westgab_temp["value"]
westgab_temp.name = "temp"
westgab_sal = westgab[westgab["par"] == "SAL"]
westgab_sal = westgab_sal["value"]
westgab_sal.name = "sal"
westgab_ftu = westgab[westgab["par"] == "FTU"]
westgab_ftu = westgab_ftu["value"]
westgab_ftu.name = "ftu"
westgab_fluors = westgab[westgab["par"] == "FLUORS"]
westgab_fluors = westgab_fluors["value"]
westgab_fluors.name = "fluors"
westgab_o2 = westgab[westgab["par"] == "O2CONC"]
westgab_o2 = westgab_o2["value"]
westgab_o2.name = "o2"

westgab_kd = westgab_2[westgab_2["par"] == "Kd"]
westgab_kd = westgab_kd["value"]
westgab_kd.name = "kd"
westgab_tox = westgab_2[westgab_2["par"] == "TOXN"]
westgab_tox = westgab_tox["value"]
westgab_tox.name = "tox"
westgab_sil = westgab_2[westgab_2["par"] == "SILICA"]
westgab_sil = westgab_sil["value"]
westgab_sil.name = "sil"

westgab_par = westgabpar["value"]
westgab_par.name = "par"

merge = pd.merge(westgab_temp, westgab_sal, how = 'outer', left_index = True, right_index = True)
merge = pd.merge(merge, westgab_ftu, how = 'outer', left_index = True, right_index = True)
merge = pd.merge(merge, westgab_fluors, how = 'outer', left_index = True, right_index = True)
merge = pd.merge(merge, westgab_o2, how = 'outer', left_index = True, right_index = True)
merge = pd.merge(merge, westgab_kd, how = 'outer', left_index = True, right_index = True)
merge = pd.merge(merge, westgab_sil, how = 'outer', left_index = True, right_index = True)
merge = pd.merge(merge, westgab_par, how = 'outer', left_index = True, right_index = True)

merge = merge.apply(pd.to_numeric, errors = 'raise')
merge.to_csv("clean_data1.csv", sep = ",", index = "False")

We now do the exact same thing but for WESTGAB2.

In [80]:
westgab2 = pd.read_csv("WESTGAB2.csv", parse_dates = ["dateTime"], encoding_errors = "ignore")
westgab2.set_index("dateTime", inplace = True)
westgab2_2 = pd.read_csv("WESTGAB2_2.csv", parse_dates = ["dateTime"], encoding_errors = "ignore")
westgab2_2.set_index("dateTime", inplace = True)
westgab2par = pd.read_csv("WESTGAB2PAR.csv", parse_dates = ["dateTime"], encoding_errors = "ignore")
westgab2par.set_index("dateTime", inplace = True)

In [81]:
westgab2_temp = westgab2[westgab2["par"] == "TEMP"]
westgab2_temp = westgab2_temp["value"]
westgab2_temp.name = "temp"
westgab2_sal = westgab2[westgab2["par"] == "SAL"]
westgab2_sal = westgab2_sal["value"]
westgab2_sal.name = "sal"
westgab2_ftu = westgab2[westgab2["par"] == "FTU"]
westgab2_ftu = westgab2_ftu["value"]
westgab2_ftu.name = "ftu"
westgab2_fluors = westgab2[westgab2["par"] == "FLUORS"]
westgab2_fluors = westgab2_fluors["value"]
westgab2_fluors.name = "fluors"
westgab2_o2 = westgab2[westgab2["par"] == "O2CONC"]
westgab2_o2 = westgab2_o2["value"]
westgab2_o2.name = "o2"

westgab2_kd = westgab2_2[westgab2_2["par"] == "Kd"]
westgab2_kd = westgab2_kd["value"]
westgab2_kd.name = "kd"
westgab2_tox = westgab2_2[westgab2_2["par"] == "TOXN"]
westgab2_tox = westgab2_tox["value"]
westgab2_tox.name = "tox"
westgab2_sil = westgab2_2[westgab2_2["par"] == "SILICA"]
westgab2_sil = westgab2_sil["value"]
westgab2_sil.name = "sil"

westgab2_par = westgab2par["value"]
westgab2_par.name = "par"

merge2 = pd.merge(westgab2_temp, westgab2_sal, how = 'outer', left_index = True, right_index = True)
merge2 = pd.merge(merge2, westgab2_ftu, how = 'outer', left_index = True, right_index = True)
merge2 = pd.merge(merge2, westgab2_fluors, how = 'outer', left_index = True, right_index = True)
merge2 = pd.merge(merge2, westgab2_o2, how = 'outer', left_index = True, right_index = True)
merge2 = pd.merge(merge2, westgab2_kd, how = 'outer', left_index = True, right_index = True)
merge2 = pd.merge(merge2, westgab2_sil, how = 'outer', left_index = True, right_index = True)
merge2 = pd.merge(merge2, westgab2_par, how = 'outer', left_index = True, right_index = True)

merge2 = merge2.apply(pd.to_numeric, errors = 'raise')
merge2.to_csv("clean_data2.csv", sep = ",", index = "False")

In [82]:
df1 = pd.read_csv("clean_data1.csv", parse_dates = ["dateTime"])
df2 = pd.read_csv("clean_data2.csv", parse_dates = ["dateTime"])
df3 = pd.concat([df1, df2], axis = 0)
df3.to_csv("clean_data.csv", sep = ",", index = "False")

In [84]:
df3

                  dateTime   temp     sal   ftu  fluors  o2     kd  sil    par
0      2002-08-28 13:15:00  18.78  34.691  6.42    0.62 NaN  0.641  NaN  226.2
1      2002-08-28 13:15:00  18.78  34.691  6.42    0.62 NaN  0.641  NaN  429.3
2      2002-08-28 13:30:00  18.77  34.666  6.56    0.63 NaN  0.688  NaN  475.9
3      2002-08-28 13:30:00  18.77  34.666  6.56    0.63 NaN  0.688  NaN  239.1
4      2002-08-28 13:45:00  18.75  34.653  5.69    0.66 NaN  0.682  NaN  262.4
...                    ...    ...     ...   ...     ...  ..    ...  ...    ...
120286 2019-12-07 13:30:00    NaN     NaN   NaN     NaN NaN  0.452  NaN    NaN
120287 2019-12-07 14:00:00    NaN     NaN   NaN     NaN NaN  0.429  NaN    NaN
120288 2019-12-07 14:30:00    NaN     NaN   NaN     NaN NaN  0.422  NaN    NaN
120289 2019-12-07 15:00:00    NaN     NaN   NaN     NaN NaN  0.344  NaN    NaN
120290 2019-12-07 15:30:00    NaN     NaN   NaN     NaN NaN  0.273  NaN    NaN

[500348 rows x 9 columns]